.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1145px;
}
.page-menu-item {
  display: inline-block;
  margin-right: 72px;
}
.page-menu-link {
  color: #ff0000;
  text-decoration: none;
}
.page-menu {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.main-image {
  width: 100%;
  margin-bottom: 49px;
}
button {
  background: #ff0000;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
.main-content {
  text-align: center;
  font-family: sans-serif;
}
.footer-text {
  text-align: right;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  margin-top: 82px;
  margin-bottom: 29px;
  position: absolute;
  width: 462px;
  height: 39px;
  left: 608px;
}
.page-navigator {
  padding-top: 25px;
  padding-bottom: 25px;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 38px;
}
.content-first {
  font-size: 16px;
  line-height: 26px;
  line-height: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  margin-bottom: 28px;
}
.content-second {
  font-size: 16px;
  line-height: 38px;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  margin-bottom: 66px;
}
button:focus {
  border: none;
}
